{
  "name": "duostack",
  "description": "Duostack command line client: create and manage Duostack apps",
  "version": "",
  "repository": {},
  "author": "Todd Eichel <todd@toddeichel.com> (http://toddeichel.com/)",
  "bin": {
    "duostack": "./bin/duostack",
    ".duostack-console-expect": "./bin/.duostack-console-expect"
  }
}
